

{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}


{% block main %}
{% include 'admin/base.html.twig' %}
    <div class="post py-2 px-3 border-2 border-gray-200 rounded-md shadow-sm">
        <h2 class="my-2">Post administration</h2>
        <p class="my-2">Welcome to the post administration section. Here you can manage all the posts of your blog.</p>
        <a class="w-full py-2 px-1 my-4 text-white bg-indigo-600 font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" href="{{ path('admin_posts') }}">Go ahead</a>
    </div>
{% endblock %}
