<!DOCTYPE html>
<html lang="fr">
</head>
<body class="flex flex-col min-h-screen bg-gray-100">
    <div class="flex-grow">
        <!-- Your content goes here -->
    </div>

    <footer class="fixed bottom-0 w-full py-4 mt-auto text-white bg-indigo-600">
        <p class="text-sm text-center">&copy; {{ "now"|date("Y") }} - Site Symfony 316</p>
    </footer>
</body>


</html>
