<!DOCTYPE html>
<html lang="fr">
</head>
<body class="bg-gray-100">
    <footer class="bg-indigo-600 text-white py-4 mt-10">
        <p class="text-center text-sm">&copy; {{ "now"|date("Y") }} - Site Symfony 316</p>
    </footer>

</body>
</html>
